.app {
  /*background-color: green;*/
  height: 820px;
  padding: 50px;
}

.jumboStyle {
  border-radius: 50px;
  padding: 20px;
  height: 750px;
}

.jumboTitle {
  justify-content: 'center';
  align-items: 'center';
  align-self: 'center';
}
